wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.maxart.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PictureService" targetNamespace="http://service.maxart.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://service.maxart.com/" schemaLocation="http://localhost:8081/PictureService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://service.maxart.com" schemaLocation="http://localhost:8081/PictureService?xsd=2"/>
</xsd:schema>
</types>
<message name="getAllPictures">
<part element="tns:getAllPictures" name="parameters"/>
</message>
<message name="getAllPicturesResponse">
<part element="tns:getAllPicturesResponse" name="parameters"/>
</message>
<message name="findPictures">
<part element="tns:findPictures" name="parameters"/>
</message>
<message name="findPicturesResponse">
<part element="tns:findPicturesResponse" name="parameters"/>
</message>
<message name="IllegalQException">
<part element="tns:IllegalQException" name="fault"/>
</message>
<message name="deletePicture">
<part element="tns:deletePicture" name="parameters"/>
</message>
<message name="deletePictureResponse">
<part element="tns:deletePictureResponse" name="parameters"/>
</message>
<message name="InvalidEntityException">
<part element="tns:InvalidEntityException" name="fault"/>
</message>
<message name="IllegalIdException">
<part element="tns:IllegalIdException" name="fault"/>
</message>
<message name="updatePicture">
<part element="tns:updatePicture" name="parameters"/>
</message>
<message name="updatePictureResponse">
<part element="tns:updatePictureResponse" name="parameters"/>
</message>
<message name="createPicture">
<part element="tns:createPicture" name="parameters"/>
</message>
<message name="createPictureResponse">
<part element="tns:createPictureResponse" name="parameters"/>
</message>
<message name="InsertingException">
<part element="tns:InsertingException" name="fault"/>
</message>
<message name="InvalidCreatingParametersException">
<part element="tns:InvalidCreatingParametersException" name="fault"/>
</message>
<portType name="PictureWebService">
<operation name="getAllPictures">
<input message="tns:getAllPictures"/>
<output message="tns:getAllPicturesResponse"/>
</operation>
<operation name="findPictures">
<input message="tns:findPictures"/>
<output message="tns:findPicturesResponse"/>
<fault message="tns:IllegalQException" name="IllegalQException"/>
</operation>
<operation name="deletePicture">
<input message="tns:deletePicture"/>
<output message="tns:deletePictureResponse"/>
<fault message="tns:InvalidEntityException" name="InvalidEntityException"/>
<fault message="tns:IllegalIdException" name="IllegalIdException"/>
</operation>
<operation name="updatePicture">
<input message="tns:updatePicture"/>
<output message="tns:updatePictureResponse"/>
<fault message="tns:IllegalQException" name="IllegalQException"/>
<fault message="tns:IllegalIdException" name="IllegalIdException"/>
<fault message="tns:InvalidEntityException" name="InvalidEntityException"/>
</operation>
<operation name="createPicture">
<input message="tns:createPicture"/>
<output message="tns:createPictureResponse"/>
<fault message="tns:InsertingException" name="InsertingException"/>
<fault message="tns:InvalidCreatingParametersException" name="InvalidCreatingParametersException"/>
</operation>
</portType>
<binding name="PictureWebServicePortBinding" type="tns:PictureWebService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getAllPictures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPictures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IllegalQException">
<soap:fault name="IllegalQException" use="literal"/>
</fault>
</operation>
<operation name="deletePicture">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidEntityException">
<soap:fault name="InvalidEntityException" use="literal"/>
</fault>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal"/>
</fault>
</operation>
<operation name="updatePicture">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IllegalQException">
<soap:fault name="IllegalQException" use="literal"/>
</fault>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal"/>
</fault>
<fault name="InvalidEntityException">
<soap:fault name="InvalidEntityException" use="literal"/>
</fault>
</operation>
<operation name="createPicture">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InsertingException">
<soap:fault name="InsertingException" use="literal"/>
</fault>
<fault name="InvalidCreatingParametersException">
<soap:fault name="InvalidCreatingParametersException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PictureService">
<port binding="tns:PictureWebServicePortBinding" name="PictureWebServicePort">
<soap:address location="http://localhost:8081/PictureService"/>
</port>
</service>
</definitions>